.App {
  background-color: #eaeaff;
}

.App-header {
  background-color: #454545;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p {
  color: #000000;
}

a > .active {
  background-color: rgb(58, 138, 241);
  padding: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 40px;
}

.navbar-brand {
  margin-left: 1rem;
  margin-right: 1rem;
}

.navbar-collapse {
  margin-left: 1rem;
  margin-right: 1rem;
}

.Container {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  
}

.row {
  padding-bottom: 1rem;
}

.card-title {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.Template {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
}
